.color-box {
  width: 260px;
  height: 200px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buttons {
  display: flex;
  
}

.button {
  border: 1px solid;
  border-radius: 3px;
  height: 40px;
  width: 80px;
  margin: 5px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}
